.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color:var(--white);
    border-radius: 8px;
    padding: 1rem;
    border: 1px solid var(--gray-200);
    max-width: 300px;
    width: calc(100vw / 4 - 2rem);
    min-width: 230px;
    transition: all 0.3s ease;
}

@media (max-width: 1100px) {
    .card {
        width: calc(100vw / 3 - 1.75rem);
        max-width: 100%;
    }
}

@media (max-width: 750px) {
    .card {
        width: calc(100vw / 2 - 1.5rem);
    }
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }
}

.card:hover {
    box-shadow: var(--shadow-400);
}

.card-title {
    font-size: 1.25rem;
}

.card-details {
    color: var(--gray-400);
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--gray-100);
    margin-bottom: 0.5rem;
}

.card-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}

.card-button {
    align-self: flex-end;
}

.card-button.delete {
    background-color: var(--red-400);
    border: 2px solid var(--red-400);
}

.card-button.delete:hover {
    background-color: var(--red-600);
    border-color: var(--red-600);
}