.home-container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
}

.home-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.add-car-btn {
    margin-top: 1rem;
}

@media (max-width: 1250px) {
    .home-container {
        padding: 1rem;
    }
}